<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="../style.css">
        <title>home</title>
    </head>
<body>
<center>
<h1>HEALME</h1>
</center>
<div class="row">
    <div class="col-lg-6">
<form>
    <input type="text" name="text" class="search" placeholder="Search Here">
    <input type="submit" name="submit" class="submit" value="search">
</form>
</div>
<div class="col-lg-6">
<button type="login" class="btn btn-login">Sign In</button>
<button type="register" class="btn btn-register">Sign Up</button>
</div>
</div>

<p><a href="appointment.ejs">Book an Appointment</a></p>

</body>
</html>