<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

    </head>
    <body>
        <form method ="GET" action = "userProfile.ejs">
            <label> FIRST NAME: <input type="text" name ="">required</label>
            <br>
            <label> LAST NAME: <input type="text" name ="">required</label>
            <br>
            <label> EMAIL ID: <input type="email" name ="">required</label>
            <br>
            <label> PASSWORD: <input type="password" name ="">required</label>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>