<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/views/css/user.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class = "basicDetails">
            <h2>UPDATE YOUR PROFILE</h2>
            <form method ="GET" action = "userProfile.ejs">
                <label> FIRST NAME: <input type="text" name ="">required</label>
                <br>
                <label> LAST NAME: <input type="text" name ="">required</label>
                <br>
                <label> EMAIL ID: <input type="email" name ="">required</label>
                <br>
                <label> AGE: <input type="number" name =""></label>
                <br>
                <label> GENDER<br>
                    <label class = "radio-inline">
                        <input type="radio" name="gender" value="male"> Male<br>
                    </label>
                    <label class = "radio-inline">
                        <input type="radio" name="gender" value="female"> Female<br>
                    </label>
                    <label class = "radio-inline">
                        <input type="radio" name="gender" value="other"> Other<br> 
                    </label> 
                </label>
                <br>
                <label> ABOUT:<br><textarea name="comment"></textarea></label>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <hr width ="30" color="blue">
        <div class = "weeklyplan">
            <h2>CREATE YOUR MEALS</h2>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $(".add-row").click(function(){
                            var name = $("#name").val();
                            var time = $("#time").val();
                            var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + name + "</td><td>" + time + "</td></tr>";
                            $("table tbody").append(markup);
                        });
                        
                        // Find and remove selected table rows
                        $(".delete-row").click(function(){
                            $("table tbody").find('input[name="record"]').each(function(){
                                if($(this).is(":checked")){
                                    $(this).parents("tr").remove();
                                }
                            });
                        });
                    });    
                </script>
                <form>
                        <input type="text" id="name" placeholder="Food Name">
                        <input type="text" id="time" placeholder="Meal Time">
                        <input type="button" class="add-row" value="Add Row">
                    </form>
                    <table>
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Food</th>
                                <th>Set Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" name="record"></td>
                                <td> Cereal</td>
                                <td>Breakfast</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="delete-row">Delete Row</button>
        </div>
    </body>
</html>