<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

    </head>
    <body>
        <form method ="GET" action = "userProfile.ejs">
            <label> FIRST NAME: <input type="text" name ="">required</label>
            <br>
            <label> LAST NAME: <input type="text" name ="">required</label>
            <br>
            <label> EMAIL ID: <input type="email" name ="">required</label>
            <br>
            <label> AGE: <input type="number" name =""></label>
            <br>
            <label> GENDER: <input type="number" name =""></label>
            <br>
            <label>ABOUT:<br><textarea name="comment"></textarea></label>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>